@import url('https://fonts.googleapis.com/css2?family=Tsukimi+Rounded:wght@400&family=Playfair+Display:wght@400&display=swap');

body {
    font-family: 'Tsukimi Rounded', sans-serif;
    background-color: rgb(2, 56, 89);
    margin: 0;
    padding: 0;
    color: black;
}

@supports not (font-family: 'Tsukimi Rounded') {
    body {
        font-family: 'Playfair Display', serif;
    }
}

.header {
    background-color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
}

header img {
    height: 50px;
}

.search-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 80%;
}

.search-box input {
    width: 100%;
    height: 30px;
    padding: 10px 40px 10px 40px;
    border: 2px solid rgb(143, 145, 149);
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    text-align: center;
    font-family: 'Tsukimi Rounded', sans-serif;
}

.search-box button {
    position: absolute;
    left: 15px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.search-box button img {
    width: 20px;
    height: 20px;
}

header button {
    background: none;
    border: none;
    cursor: pointer;
}

header a {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 2px solid rgb(143, 145, 149);
}

header a img {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 120px auto 10px;
    padding: 15px;
    background-color: white;
    max-width: 930px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

nav button {
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 150px;
    color: white;
    font-family: 'Tsukimi Rounded', sans-serif;
}

nav button.active {
    background-color: rgb(3, 62, 140);
}

nav button:not(.active) {
    background-color: rgb(2, 31, 89);
}

main {
    border-radius: 25px;
    max-width: 1000px;
    margin: 10px auto;
    padding: 20px;
    text-align: center;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
}

.product {
    display: inline-block;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    margin: 10px;
    width: 270px;
    height: 250px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product img {
    max-width: 100%;
    border-radius: 10px;
}

footer {
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 14px;
}
