@import url('https://fonts.googleapis.com/css2?family=Tsukimi+Rounded:wght@400&family=Playfair+Display:wght@400&display=swap');

body {
    font-family: 'Tsukimi Rounded', sans-serif;
    background-image: url(https://raw.githubusercontent.com/Rika84/Projekt_gr_2025/main/site2/img/background.png);
    margin: 0;
    padding: 0;
    color: black;
}

@supports not (font-family: 'Tsukimi Rounded') {
    body {
        font-family: 'Playfair Display', serif;
    }
}

.menubar{
    margin: 10px 50px;
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 15px;
}
